# ── SUPABASE ──
SUPABASE_URL=https://dtzlapraqavdmnlexesq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR0emxhcHJhcWF2ZG1ubGV4ZXNxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjgzMzAyNywiZXhwIjoyMDkyNDA5MDI3fQ.MoBnaSoKbR__E4mMy5251W68i-Ce3V4sd2koHSEcjFg
# ── SERVER ──
PORT=3000
